apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Release.Name }}
  name: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
        - name: {{.Release.Name}}
          image: wchris7s/{{.Release.Name}}:1.0.0
          ports:
            - containerPort: {{ .Values.port }}
          env:
            - name: SPRING_PROFILE
              valueFrom:
                configMapKeyRef:
                  key: springProfile
                  name: {{ .Release.Name }}-configmap
            - name: DB_USER
              valueFrom:
                configMapKeyRef:
                  key: dbUser
                  name: {{ .Release.Name }}-configmap
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: db-password
                  name: postgres-secret
      resources:
        requests:
          cpu: "250m" # 0.25 millicores / 1.00
          memory: "256Mi" # 0.25 / 1 Gb ram
        limits:
          cpu: "500m" # 0.5 millicores / 1.00
          memory: "512Mi" # 0.5 Ram / 1 Gb